.wrapper{
    font-family: "Amazon Ember", Arial, sans-serif; 
    font-size: 14px;
   
    display: flex;
    flex-direction: column;
   
}
.title{
  font-size: 45px;
}
.main-detail-sub{
    display: flex;
}
.price-wrapper{
    font-size: 15px;
}
.price{
    text-decoration: line-through;
}
.detail-wrapper{
  width: 500px;
}


@media screen and (max-width: 800px){
    .main-detail-sub{
        flex-direction: column;
    }
}
